<td id="openprojecttableright" vertical-align="middle">
    {{>ui_navigation_tabs}}
    <div class="openproject_tile" id="load_content" style="display: none;"><h2>Load a file</h2>
        <button onclick="document.getElementById('filechooser').click();" class="buttonsel">Browse for a File</button>&ensp;
        or Drag and Drop:
        <div id="droptarget">Glyphr Studio Project &ensp;(.txt)<br>Open Type or True Type Font &ensp;(.otf or .ttf)<br>SVG
            Font &ensp;(.svg)
        </div>
        <div style="width:335px;">
            <div id="errormessagebox" style="display:none;">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr>
                        <td class="errormessageleftbar">
                            <button class="errormessageclosebutton" onclick="closeErrorMessageBox();">×</button>
                        </td>
                        <td id="errormessagecontent"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="openproject_tile" id="new_content" style="display: none;"><h2>Start a new Glyphr Studio Project</h2>
        Project name: &nbsp; <input id="newprojectname" type="text" value="My Font"><br>
        <button onclick="newGlyphrProject(); navigate({page:'glyph edit'});" class="buttonsel">Start a new font from
            scratch
        </button>
    </div>
    <div class="openproject_tile" id="examples_content" style="display: block;"><h2>Load an Example project</h2>Modegg
        is a project that utilizes Glyphr Studio features, like Components. Merriweather Sans is an open-source font
        imported from an Open Type file.<br><br>
        <button onclick="openproject_loadSample(true);" class="buttonsel">Modegg</button>
        <br>
        <button onclick="openproject_loadSample(false);" class="buttonsel">Merriweather Sans</button>
        <br></div>
</td>